.custom-select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    color: black;
    width: 500px;
}
.courses-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #25f601;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.home-button {
    background-color: darkblue;
}

.help {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: darkblue;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}
